# Bike Sales
##### Dataset: `bikesales`.
##### Author: Batool Malkawi.
##### Date: 14/12/2020

___
#### import packages
___

In [1]:
import pandas as pd

In [2]:
trip = pd.read_csv('trip.csv',error_bad_lines=False)
weather = pd.read_csv('weather.csv')
station = pd.read_csv('station.csv')

b'Skipping line 50794: expected 12 fields, saw 20\n'

___
## 1. What is the average trip duration for a borrowed bicycle?
___

In [3]:
average_trip = trip['tripduration'].mean()
print ("Average trip duration: ", average_trip)

Average trip duration:  1178.2956753399776

___
## 2. What’s the most common age of a bicycle-sharer?
___

In [4]:
sort_age_sharer = trip['birthyear'].mode()[0]
now = 2020
common_age_sharer = round(now- sort_age_sharer)
common_age_sharer

33

___
## 3. Given all the weather data here, find the average precipitation per month, and the median precipitation.
___

In [5]:
def month_from_date(date):
    return int(date.split('/')[0])
weather['Month'] = weather['Date'].apply(month_from_date)
precipitation = weather.groupby('Month')['Precipitation_In']
print ("Average precipitation per month: ")
print (precipitation.mean())

Average precipitation per month:
Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [6]:
print ("Median precipitation: ")
precipitation.median()

Median precipitation:

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

___
## 4. What’s the average number of bikes at a given bike station?
___

In [7]:
print (station.current_dockcount.mean())

16.517241379310345

___
## 5. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?
___

In [8]:
station_modified = station[['modification_date','install_dockcount','current_dockcount']].dropna()
gain_or_lose = station_modified['current_dockcount'].sum() - station_modified['install_dockcount'].sum()
if (gain_or_lose < 0):
    print ("Lose bikes.", gain_or_lose)
else:
    print("Gain bikes.", gain_or_lose)

Lose bikes. -64

___
## 6. Find the total number of all the current bikes in all stations?
___

In [9]:
print ("number of current bikes: ", station['current_dockcount'].sum())

number of current bikes:  958

___
## 7.What are the top humidity level in all days?
___

In [10]:
weather

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Month
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.65,10,10,4,13,4,21,0.00,Rain,10
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.54,10,9,3,10,5,17,0.11,Rain,10
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.51,10,9,3,18,7,25,0.45,Rain,10
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.81,10,10,10,9,4,-,0.00,Rain,10
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.73,10,10,6,8,3,-,0.14,Rain,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.77,10,10,10,16,9,NaN,0.00,NaN,8
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.01,10,10,10,12,9,NaN,0.00,NaN,8
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,29.95,10,10,6,9,4,NaN,0.00,NaN,8
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,29.97,10,10,10,14,9,18,0.00,NaN,8
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.96,10,10,8,14,8,NaN,0.00,Rain,8

In [11]:
highest_humidity = weather[['Max_Humidity']]
sorted_highest_humidity = highest_humidity.sort_values('Max_Humidity', ascending=False)
top_highest_humidity = sorted_highest_humidity.head(1)
print (top_highest_humidity)

     Max_Humidity
480           100

___
## 8. What is the median of maximum tempratures in all days?
___

In [12]:
max_temps_median = weather[['Max_Temperature_F']].median()
print (max_temps_median)

Max_Temperature_F    63.0
dtype: float64

___
## 9. What is the most common gender in trips? 
___

In [18]:
most_common_gender = trip[["gender"]].mode()
print (most_common_gender)

Most Common gender:    gender
0   Male